# https://editorconfig.org

# EditorConfig & Prettier:
# When using both, since they have some options in common, the best way to avoid conflicts between them is to configure those options only in the .editorconfig file. Prettier will use them instead of its own defaults. More info:
# - https://prettier.io/docs/en/configuration#editorconfig
# - https://joepkockelkorn.com/blog/combining-gitattributes-editorconfig-and-prettier

# ----------------------------------------

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# Markdown files
[*.md]
# Ref: https://github.com/DavidAnson/markdownlint/blob/main/doc/md010.md
indent_style = space
# Ref: https://github.com/DavidAnson/markdownlint/blob/main/doc/md007.md
indent_size = 2
# Refs:
# https://cirosantilli.com/markdown-style-guide/#line-breaks
# https://www.markdownguide.org/basic-syntax/#line-breaks
# https://github.com/DavidAnson/markdownlint/blob/main/doc/md009.md
# https://code.visualstudio.com/docs/languages/markdown#_keep-trailing-whitespace-in-order-to-create-line-breaks
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
# YAML doesn't support hard tabs (see https://yaml.org/spec/1.2.2/#61-indentation-spaces)
indent_style = space
# The YAML spec doesn't mandate a specific number of spaces for indentation; however, two spaces per indentation level is the most widely recommended and used approach (see https://localheinz.com/articles/2023/02/06/indenting-yaml-files/#content-use-two-spaces-of-indentation)
indent_size = 2
