# https://editorconfig.org

# Note: EditorConfig and Prettier share some options. To avoid conflicts, configure them here only; Prettier natively respects this file. See https://prettier.io/docs/configuration#editorconfig

# Stop the editor from looking for .editorconfig files in parent directories.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
# Rationale: https://gist.github.com/germanfrelo/fc3ac17ff5bd78b7bf0786734f15d8b4
indent_style = tab

[*.{yaml,yml}]
# Rationale: https://localheinz.com/articles/2023/02/06/indenting-yaml-files
indent_style = space
indent_size = 2
