# .gitattributes
# https://git-scm.com/docs/gitattributes

# Automatically normalize line endings of text-based files introduced to the repository. More info: https://docs.github.com/en/get-started/git-basics/configuring-git-to-handle-line-endings
* text=auto

# Exclude certain files and directories from the repository's language statistics on GitHub. More info: https://github.com/github-linguist/linguist/tree/main/docs
*.config.js linguist-vendored
.husky/** linguist-vendored
