---
import LayoutHome from "../layouts/LayoutHome.astro";
---

<LayoutHome
	title="Home page title"
	description="Home page description"
>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, qui dolores! Harum atque mollitia illum repudiandae, velit dolorem porro odit perspiciatis ex praesentium nostrum placeat neque voluptas voluptates incidunt facilis.</p>
</LayoutHome>
