---
import LayoutPage from "../layouts/LayoutPage.astro";
---

<LayoutPage
	title="Page title"
	description="Page description"
	pubDate={new Date("August 01 1991")}
	heroImage="/__________.___"
>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero pariatur veniam id consequuntur accusamus eum delectus aperiam. Quia tempora temporibus sunt voluptatum totam culpa numquam quasi, necessitatibus illum quibusdam sapiente!</p>
</LayoutPage>
